.workspace{
  padding: 40px 64px 40px 64px;
  display: grid;
  grid-template-rows: auto 600px auto;
}

h1{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.title-bar{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.selector{
  width: auto;
  height: 48px;
  border: 2px solid var(--primary-blue);
  border-radius: 60px;
  color: #3984C7;
  padding: 8px 16px 8px 16px;
  margin-left: 16px;
}

.result-button{
  width: 200px;
  height: 50px;
  margin-bottom: 16px;
  border: none;
  background: var(--primary-blue);
  color: var(--background-white);
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

.result-button-area{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

#disclaimer{
  margin-bottom: 16px;
  color: var(--text-grey);
}

.input{
  border: solid;
  border-color: var(--primary-blue);
  border-radius: var(--border-radius);
  padding: 16px 32px 16px 32px;
  margin-bottom: 16px;
  overflow-y: scroll;
}

.input-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 8px;
}

.headers{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
}

a{
  text-decoration: none;
  color: var(--background-white);
}

a:hover{
  opacity: 80%;
}

.array{
  width: 50%;
}

.input-bar{
  width: 80px;
  border: 1px solid var(--primary-blue);
  border-radius: 6px;
  padding: 2px 4px 2px 4px;
}

td{
  display: grid;
  justify-content: center;
}

.input-text{
  display: grid;
  justify-content: center;
}